<h3>All the Buildings</h3>

<table>
  <tr>
    <th>Address</th>
  </tr>
  <% @buildings.each do |building| %>
    <tr>
      <td><%= building.street_address %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Back to #{@owner.first_name}'s Home Page", 
  owner_path(@owner) %></p>
<p><%= link_to 'Owners', owners_path %></p>